<%- include("template/cabecera.ejs", {tituloWeb:'Panel de Administración'}) %>

    <div class="container">

        <h1 class="text-center display-3 p-5">CRUD Mongo - Entrenadores</h1>
        <a class="btn btn-success btn-block my-4" href="/entrenador/crearEntrenador">Crear un nuevo entrenador</a>
        <a class="btn btn-dark btn-block my-4" href="/">Volver</a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Region</th>
                    <th scope="col">Gimnasio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayPokemon.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayPokemon.forEach(entrenador=> { %>
                        <tr>
                            <th scope="row">
                                <%= entrenador.id %>
                            </th>
                            <td>
                                <%= entrenador.nombre %>
                            </td>
                            <td>
                                <%= entrenador.genero %>
                            </td>
                            <td>
                                <%= entrenador.region %>
                            </td>
                            <td>
                                <%= entrenador.gimnasio %>
                            </td>
                            <td>
                                <%= entrenador.descripcion %>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                    href="/entrenador/<%= entrenador.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>


    <%- include("template/footer.ejs") %>